#nombre-navbar {
    color: #b4ddf1;
    font-size: 35px;
    margin-left: 38%;
}
#redes {
    position: relative;
}

.body {
    background-color: #181414;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: 0;
}


#first-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 690px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

#second-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 150px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

#third-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 130px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

#fourth-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 200px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

#fifth-card {
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 220px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

.info-proyectos{
    font-weight: bold;
    margin-left: 4%;
    margin-top: -1%;
}