#nombre-navbar {
    color: #b4ddf1;
    font-size: 35px;
    margin-left: 38%;
}
#redes {
    position: relative;
}

.body {
    background-color: #181414;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: 0;
}


#first-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 650px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}