#nombre-navbar {
    color: #b4ddf1;
    font-size: 35px;
    margin-left: 38%;
}
#redes {
    position: relative;
}

.body {
    background-color: #181414;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: 0;
}

#info-perfil{
    margin-top: 3%;
    margin-left: 10%;
    color: cornflowerblue;
    
}

#nombre{
    margin-left: -2%;
}

#sobre-mi{
    color: cornflowerblue;
    margin-top: 2%;
    font-size: 50px;
    margin-left: 35%;
}

#info-personal{
    margin-top: -20%;
    color: white;
    background-color: #212222;
    height: 450px;
    width: 803px;
    position: relative;
    margin-left: 40%;
    font-size: 24px;
    padding: 2%;
}

#first-card{
    border-radius: 0%;
    height: 690px;
    background-color: #181414;
}

#bienvenida{
    position: relative;
    margin-left: 30%;
    margin-top: 5%;
    color: #b4ddf1;
    padding-bottom: 5%;
}

#second-card{
    border-radius: 0%;
    height: 690px;
    background-color: #03030f;
}

#educacion{
    color: cornflowerblue;
    margin-top: 2%;
    font-size: 50px;
    margin-left: 40%;
}

#third-card{
    border-radius: 0%;
    height: 690px;
    background-color: #181414;
}

#info-proyectos{
    color: cornflowerblue;
    margin-top: 2%;
    margin-left: 40%;
}

#proyectos{
    font-size: 50px;
}

#fourth-card{
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 200px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

#fifth-card {
    border: solid;
    border-color: lightgray;
    border-radius: 50px;
    width: 1338px;
    height: 220px;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 5px;
    padding-bottom: 0%;
}

.info-proyectos{
    font-weight: bold;
    margin-left: 4%;
    margin-top: -1%;
}